body {
  background-color: #555;
  color: white;
  background-image: url(https://raw.githubusercontent.com/marvindanig/elevator/master/assets/images/market.jpg);
  background-size: 200% 100%;
  background-position: center left; 
}
