body {
	background-color: rgb(238 54 54);
	background-image: linear-gradient(135deg, rgb(238 54 54) 0%, rgb(158 59 108) 100%);
}


h1 { 
 	color: pink; 
 	font-weight: 700;
} 

ol li a {
	color: pink; 
}


ol li a:focus,
a:active,
a:hover {
  outline: 0 none;
  color: #fff;
}

hr {
	color: pink; 	
}