body {
  background-color: #8066ff;
  color: white;
  background-image: url(https://raw.githubusercontent.com/marvindanig/elevator/master/assets/images/traction.jpg);
  background-size: 200% 100%;
  background-position: center right; 
} 



